:root {
    --footer-display: block;
    --p-footer-display: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-image: url("images/site-bg.jpg");
    background-size: cover;
    background-color:aquamarine;
    padding: 0;
    margin: 0;
}


p.footer {
    display: var(--p-footer-display);
}

footer {
    display: var(--footer-display);
}

.content {
    background-color:blanchedalmond;   
    height: 200px;
}

@media screen and (min-width: 720px) {
    :root {
        --footer-display: none;
        --p-footer-display: block;
    }
    body {
        flex-direction: row;
        align-items: stretch;
    }

    header {
        flex-grow: 1;
        background-image: url("images/site-bg.jpg");
        background-size: cover;
    }

    .content {
        width: 600px;
        height: 100vh;
    }
}

